.App {
  display: flex;
}
.sidebar {
  width: 35vw;
  height: 100vh;
  border: 3px solid rgba(0, 0, 0, 0.363);
  border-radius: 5px;
}
.graph {
  height: 60vh;
}
.container {
  width: 100%;
}
.recharts-wrapper {
  margin-top: 50px;
}
